# Applied Machine Learning Assignment 1 <br>
**Shubhangi Sanyal (MDS202238)** <br>
# Part 1

In [ ]:
# Loading important packages
import pandas as pd

In [ ]:
# reading the data
df=pd.read_csv("C:/Users/shubh/Downloads/emails.csv")
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [ ]:
# separating data into text and labels
X=df['text'].astype(str)
y=df['spam'].replace({0:"Ham",1:"Spam"}).astype("object")

In [ ]:
y

0       Spam
1       Spam
2       Spam
3       Spam
4       Spam
        ...
5723     Ham
5724     Ham
5725     Ham
5726     Ham
5727     Ham
Name: spam, Length: 5728, dtype: object

In [ ]:
# checking for null entries
df.isnull().value_counts()

text   spam
False  False    5728
Name: count, dtype: int64

In [ ]:
df.groupby('spam').describe()

      text
     count unique                                                top freq
spam
0     4360   4327  Subject: * special notification * aurora versi...    2
1     1368   1368  Subject: naturally irresistible your corporate...    1

In [ ]:
"""
splitting data into train/validation/test set
Here, stratify parameter has been used during splitting to ensure even distribution of both ham and spam texts
"""

from sklearn.model_selection import train_test_split
X_train_temp,X_test,y_train_temp,y_test=train_test_split(X,y,test_size=0.2,stratify=y)
X_train,X_val,y_train,y_val=train_test_split(X_train_temp,y_train_temp,test_size=0.2,stratify=y_train_temp)

Pre-processing

In [ ]:
# removing stop-words and vectorizing the text using TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer(stop_words='english')
X_train_v=vect.fit_transform(X_train)
X_val_v=vect.transform(X_val)
X_test_v=vect.transform(X_test)

In [ ]:
X_array=X_train_v.toarray()
X_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
df_arr=pd.DataFrame(X_array,columns=vect.get_feature_names_out())
df_arr

,00,000,0000,000000,00000000,0000000000,000000000003619,000000000003991,000000000003997,000000000005168,...,zwlaszcza,zwrocic,zwwyw,zyban,zyc,zygoma,zymg,zzmacmac,zzncacst,zzzz
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.208098,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3660,0.011063,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3661,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3662,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3663,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3664,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [ ]:
df_arr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Columns: 30198 entries, 00 to zzzz
dtypes: float64(30198)
memory usage: 844.4 MB

In [ ]:
# Storing the train, val, and test set into separate csv files
df1=pd.concat([X_train,y_train],axis=1)
df2=pd.concat([X_val,y_val],axis=1)
df3=pd.concat([X_test,y_test],axis=1)

df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)

df1.to_csv("C:/Users/shubh/Downloads/train.csv")
df2.to_csv("C:/Users/shubh/Downloads/validation.csv")
df3.to_csv("C:/Users/shubh/Downloads/test.csv")